[user]
	email = kantczak@safestack.eu
	name = Karol Antczak
[credential]
	useHttpPath = true
[alias]
	jeb = !git commit --amend --no-edit && git push --force-with-lease
	jebut = !git add . && git commit --amend --no-edit && git push --force-with-lease
[pull]
	rebase = true
[rebase]
	autoStash = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	autocrlf = input
[lfs]
	concurrenttransfers = 3
[lfs "customtransfer.xet"]
	path = git-xet
	args = transfer
	concurrent = true
