@import "themes/macchiato.css";

* {
    border: none;
    font-family: "Inter Display", sans-serif;
    font-feature-settings: "tnum";  
    font-weight: 600;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 2px;
}

window#waybar {
    background: none;
    color: @text;
}

#workspaces button {
    color: @text;
    padding: 0px 10px 0px 10px;
    margin: -5px 0px -5px 0px;
    border-radius: 16px;
}

#workspaces button.active {
    background: alpha(@surface0, 0.8);
}

#workspaces button.focused {
    background: alpha(@overlay2, 0.4);
}

#workspaces button.urgent {
    background: alpha(@red, 0.4);
}

#workspaces button:hover {
    background: alpha(@overlay0, 0.4);
}

#custom-menu:hover {
    background: alpha(@overlay0, 0.4);
}

#custom-menu,
#window,
#clock,
#battery,
#pulseaudio,
#pulseaudio-slider,
#cpu,
#memory,
#workspaces,
#tray,
#backlight,
#cava,
#backlight-slider {
    background: alpha(@surface0, 0.4);
    padding: 5px 10px;
    margin: 5px 0px 5px 0px;
    border-radius: 16px;
}

#backlight {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    min-width: 64px;
}

#backlight-slider {
  min-width: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-right: 10px;
  margin-left: 2px;
}

#tray {
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

#workspaces {
    background: alpha(@surface0, 0.4);
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 0px;
}

#custom-menu {
    margin-right: 16px;
    margin-left: 5px;
    padding-left: 12px;
    padding-right: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 20px;
}

#cpu {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-right: 10px;
    margin-left: 2px;
}

#memory {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#window {
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    margin-right: 5px;
    border-right: 0px;
}

#pulseaudio {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    min-width: 64px;
}

#pulseaudio-slider {
  min-width: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-right: 10px;
  margin-left: 2px;
  color: green;
}

#backlight-slider slider,
#pulseaudio-slider slider {
    background-color: @text;  
    border: none;            
    box-shadow: none;       
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;      
}


#backlight-slider trough,
#pulseaudio-slider trough {
    min-height: 4px;
    border-radius: 5px;
    background: @crust;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
   min-height: 4px;
   border-radius: 5px;
   background: @text;
}

#battery {
    margin-right: 10px;
}

#cava {
   font-size: 12px;
   margin-right: 10px;
}
